body {
  position: relative;
  height: 100%;
  min-height: 100%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  line-height: 1.6;
  color: #444;
  letter-spacing: 0.04em;
  background-color: #f5f5f5;
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
}

.l-inner {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}

.form-content {
  -ms-flex-align: center;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.form-login {
  width: 100%;
  max-width: 430px;
  padding: 0 15px;
  margin: 0 auto;
}

.form-login .checkbox {
  font-weight: 400;
}

.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-login .form-control:focus {
  z-index: 2;
}

.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* original */
.login-title {
  margin: 0 0 26px;
  text-align: center;
  letter-spacing: 0.2em;
}

.login-title--ja {
  margin: 0 0 14px;
}

.login-title--en {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #1e90ff;
  text-transform: uppercase;
}

.form-group {
  margin: 0 0 24px;
  position: relative;
}

.form-label {
  font-size: 14px;
}

.title-border {
  display: flex;
  align-items: center;
  margin: 0 0 26px;
}

.title-border:before,
.title-border:after {
  flex-grow: 1;
  height: 1px;
  content: "";
  background-color: #666;
}

.title-border:before {
  margin-right: 1rem;
}

.title-border:after {
  margin-left: 1rem;
}

/* common-header */
a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  color: #433f3f;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}

.item-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.l-header {
  top: 0;
  height: 50px;
  position: fixed;
  top:0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dedede;
}

.l-header-logo__link {
  font-weight: 700;
  font-size: 18px;
}

.l-header-list {
  display: flex;
  flex: auto;
}

.l-header-list__item {
  width: 33.333%;
}

.l-header__icon {
  font-size: 24px;
  margin: 0 10px 0 0px;
}

.l-header-list__link {
  font-size: 14px;
}

.l-header-list__link:hover {
  background-color: rgba(0, 1, 2, 0.04);
}

.l-header-login__btn {
  display: inline-block;
  padding: 4px 25px 3px 35px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #1e90ff;
  border: 2px solid #1e90ff;
  border-radius: 30px;
  transition: color 0.3s, background-color 0.3s;
}

.l-header-login__btn:hover {
  color: #1e90ff;
  background-color: #fff;
  text-decoration: none;
}

.l-header-login__arrow {
  margin: 0 0 0 10px;
}

.main {
  margin: 80px 0 0 0;
}
